<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Dorel Vine la Tine</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="../../style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>

<div id="logo">
    <h1><a href="#">dorel vine la tine! </a></h1>
    <p><em>o aplicatie care te scapă de bătăi de cap</em></p>
</div>
<hr />
<!-- end #logo -->
<div id="header">
    <div id="menu">
        <ul>
            <li><a href="../admin" class="first">Home</a></li>
        </ul>
    </div>
    <!-- end #menu -->
    <div id="search">
        <form class="specialities" method="get" action="http://www.google.com/search" target="_blank">
            <fieldset>
                <input type="text" name="q" id="search-text" placeholder="Google search" size="15" value="" />
                <input type="submit" id="search-submit" value="GO" />
            </fieldset>
        </form>
    </div>
    <!-- end #search -->
</div>
<!-- end #header -->
<!-- end #header-wrapper -->
<div id="page">
    <div id="content">
        <div class="post">
            <h2 class="title"><a href="#">Șterge un cont de meșter</a></h2>
            <div class="entry">
                <form class="formular" th:action="@{/admin/myHandymans}" method="post" id="myHandymans" th:object="${myHandymans}">
                    <fieldset>
                        <table class="table">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Fullname</th>
                                <th>Username</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="handyman, itemStat : ${myHandymans}">
                                <td><input hidden th:name="|myHandymans[${itemStat.index}].id|" th:value="${handyman.getId()}"/></td>
                                <td><input readonly th:name="|myHandymans[${itemStat.index}].fullname|" th:value="${handyman.getFullname()}"/></td>
                                <td><input readonly th:name="|myHandymans[${itemStat.index}].username|" th:value="${handyman.getUsername()}"/></td>
                                <td><a th:href="@{/admin/deleteHandyman/{id}(id=${handyman.getId()})}" class="linkButton">Sterge</a></td>
                            </tr>
                        </table>
                    </fieldset>
                </form>
            </div>
        </div>
    </div><!-- end #content -->
    <div id="sidebar">
        <ul>
            <li>
                <ul>
                    <li><a href="#">Dej</a></li>
                    <li><a href="#">Jidvei</a></li>
                    <li><a href="#">Bârgăul Mare</a></li>
                    <li><a href="#">Bacău</a></li>
                    <li><a href="#">Jibou</a></li>
                    <li><a href="#">Huedin</a></li>
                    <li><a href="#">Zalău</a></li>
                    <li><a href="#">Corabia</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- end #sidebar -->
    <div style="clear: both;">&nbsp;</div>
</div>
</div>
<!-- end #page -->
<div id="footer">
    <p>www.dorelvinelatine.com</p>
    <div class="smallFooter">
        <p>&copy; Design by TEMPLATED</a></p>
    </div>
</div>
<!-- end #footer -->
</body>
</html>