/* Body */

body {
	margin: 0;
	padding: 0;
	background: #FFFFFF url(images/img01.gif) repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #8A8A8A;
}

h1, h2, h3 {
	margin: 0;
	font-weight: normal;
	color: #618C04;
}

h1 { font-size: 44px; }

h2 { font-size: 18px; }

h3 { }

p, ul, ol {
	margin-top: 0;
	line-height: 240%;
	text-align: justify;
}

ul, ol { }

blockquote { }

a { color: #77B003; }

a:hover { text-decoration: none; }

a img {
	border: none;
}

hr {
    display: none;
}

#wrapper {
}

.darkLetters{
	color: grey;
	font-style: italic;
	font-weight: bold;
}

span.validationError {
 	color: red;
 }

/* IndexPage */

#frontPage {
	margin: 0;
	padding: 0;
	background: url(images/tools01.gif);
	background-size: cover;
    background-repeat: no-repeat;	
}

 /* Index page postIts */

.quote-containerUp {
  margin-top: 50px;
  position: relative;
}

.quote-containerDown {
  margin-bottom: 50px;
  position: relative;
}

.noteUp {
  color: white;
  text-shadow: 2px 2px 2px black;
  text-align: justify;
  text-indent: 15px;
  position: relative;
  width: 420px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-style: italic;
  font-size: 24px;
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.8);
  margin-top: 7%;
  margin-left: 35%;
}

.noteDown {
    color: white;
    text-shadow: 1.5px 1.5px 1.5px black;
    text-align: justify;
    text-indent: 40px;
    position: relative;
    width: 295px;
    height: 145px;
    margin: 0 auto;
    padding: 20px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-style: italic;
    font-size: 32px;
    box-shadow: 0 10px 10px 2px rgba(0,0,0,0.8);
    margin-top: 1%;
    margin-right: 30%;
}

div.postIt a {
	color: 	#0a5d00;
	font-size: 32px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 1px 1px 1px white;
	position: relative;
}

div.postIt a:hover {
	text-decoration: none;
}

div.postIt a img {
	border: none;
}

.quote-containerUp p {
	line-height: 1;
}

.quote-containerDown p {
	line-height: 1.1;
}

.greenUp {
	background: linear-gradient(to bottom, rgba(124, 179, 3, 0.9), rgba(142, 190, 2, 0.8));
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

.greenDown {
	background: linear-gradient(to bottom, rgba(124, 179, 3, 0.9), rgba(142, 190, 2, 0.8));
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	-o-transform: rotate(4deg);
	-ms-transform: rotate(4deg);
	transform: rotate(4deg);
}

/* Home, Login, Register buttons and inputs */

.linkButton {
	background: #C0C0C0;
	color: #FFFFFF;
	text-shadow: 1.5px 1.5px #505050;
    display: block;
	height: 30px;
 	width: 75%;
 	text-indent: 5px;
    padding: 10px;
    text-align: center;
    border: 2px solid #E8E8E8;
    border-radius: 7px;
    font-weight: bold;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:none;
}

.linkButton table {
	background: #C0C0C0;
	color: #FFFFFF;
	text-shadow: 1.5px 1.5px #505050;
    display: block;
	height: 30px;
 	width: 75%;
 	text-indent: 5px;
    padding: 10px;
    text-align: center;
    border: 2px solid #E8E8E8;
    border-radius: 7px;
    font-weight: bold;
    font-size: 20px;
    text-decoration:none;
}

.linkButton:hover{
    background: #C0C0C0;
	color: #FFFFFF;
}

input[type=text], [type=password] {
  border: 2px solid #999;
  border-radius: 7px;
  height: 30px;
  width: 60%;
  text-indent: 5px;
  font-weight: normal;
  font-size: 20px;
}

input:focus, textarea {
    outline: none !important;
}

input[type=submit], [type=reset] {
  background-color: #C0C0C0; 
  color: #FFFFFF;
  text-shadow: 1.5px 1.5px #505050;
  border-radius: 7px;
  height: 40px;
  width: 30%;
  font-weight: bold;
  font-size: 20px;  
  margin-top: 5px;
}

input[type=submit].table, [type=reset].table{
 background-color: #C0C0C0;
 color: #FFFFFF;
 text-shadow: 1.5px 1.5px #505050;
 border-radius: 7px;
 height: 40px;
 width: 100px;
 font-weight: bold;
 font-size: 20px;
 margin-top: 5px;
}

input[type=text].table, [type=password].table {
  border-radius: 7px;
  min-width: 10px;
  max-width: 100%;
  width: 100%;
  text-indent: 5px;
  font-weight: normal;
  font-size: 20px;
}

select.table {
    border: 2px solid #999;
    border-radius: 7px;
    height: 35px;
    width: 270px;
    text-indent: 5px;
    font-weight: normal;
    font-size: 20px;
    outline: none !important;
}

label {
    color: #757575;
    display: block;
    font: .9rem 'Fira Sans', sans-serif;
    font-weight: normal;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.formular p {
margin-top: 0px;
margin-bottom: 0px;
}
/*.registerSpecialty*/

select.table{
    min-width: 10px;
    max-width: 100%;
    border-radius: 7px;
    width: 100%;
    height: 35px;
    text-indent: 5px;
    font-weight: normal;
    font-size: 20px;
    outline: none !important;
 }

/* Header */

#header-wrapper {
}

#header {
	width: 940px;
	height: 36px;
	margin: 0 auto;
}

/* Menu */

#menu {
	float: left;
	width: 680px;
	height: 43px;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: block;
	float: left;
}

#menu a {
	display: block;
	float: left;
	height: 30px;
	margin: 0;
	padding: 13px 30px 0px 30px;
	background: url(images/img02.gif) no-repeat left top;
	text-decoration: none;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
}

#menu a:hover { 
	text-decoration: none; 
}

#menu .current_page_item a {
}

#menu .first {
}

/* Search */

#search {
	float: right;
	width: 260px;		
}

#search form {
	float: right;
	margin: 0;
	padding: 11px 0px 0 0;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search input {
	float: left;
	font: 14px Georgia, "Times New Roman", Times, serif;
	border: none;
}

#search-text {
	width: 200px;
	height: 21px;
	padding: 3px 0 0 5px;
	border: 1px solid #333333;
	background: #ECF9E4;
	color: #000000;
}

#search-submit {
	margin-left: 10px;
	margin-top: 0px;
	padding: 0px 0px;
	background: #008000;
	color: #FFFFFF;
	position: absolute;
  	width: 40px;
  	height: 25px;
}

/* Page */

.team {
    text-decoration: none;
	font-size: 20px;
	color: #8A8A8A;
	font: Georgia, "Times New Roman", Times, serif;
	margin-left: 15px;
	font-style: italic;
}

#page {
	width: 940px;
	margin: 0 auto;
	padding: 70px 0px 0px 0px;
}

#pageWide {
	width: 85%;
	margin: 0 auto;
	padding: 70px 0px 0px 0px;
}

.linkButtonSpecialty {
	background: #C0C0C0;
	color: #FFFFFF;
	text-shadow: 1.5px 1.5px #505050;
    display: block;
	height: 35px;
 	width: 250px;
 	text-indent: 5px;
    margin-top: 10px;
    padding: 2px;
    text-align: center;
    border: 2px solid #E8E8E8;
    border-radius: 7px;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.linkButtonTable {
	background: #C0C0C0;
	color: #FFFFFF;
	text-shadow: 1.5px 1.5px #505050;
    display: block;
	height: 35px;
 	width: 100px;
    padding: 2px;
    text-align: center;
    border: 2px solid #E8E8E8;
    border-radius: 7px;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.wideCell input[readonly] {
  color: #8A8A8A;
  border: 2px solid #999;
  border-radius: 7px;
  height: 30px;
  width: 300px;
  text-indent: 5px;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
}

.narrowCell input[readonly] {
  color: #8A8A8A;
  border: 2px solid #999;
  border-radius: 7px;
  height: 30px;
  width: 150px;
  text-indent: 5px;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
}

.scheduleCell input[readonly], .scheduleCell input {
    border: 1px solid #999;
    border-radius: 3px;
    height: 30px;
    width: 150px;
    text-indent: 5px;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
 }

input[type=submit].scheduleButton, input[type=reset].scheduleButton {
      background-color: #C0C0C0;
      color: #FFFFFF;
      text-shadow: 1.5px 1.5px #505050;
      border-radius: 7px;
      height: 40px;
      width: 49%;
      font-weight: bold;
      font-size: 20px;
      margin-top: 5px;
}

fieldset.scheduleFrame {
    width: 40%;
    border: 2px solid #999;
    border-radius: 5px;
}

.linkButtonTable:hover{
    background: #C0C0C0;
	color: #FFFFFF;
}

.linkButtonSpecialty:hover{
    background: #C0C0C0;
	color: #FFFFFF;
}

.logoutButton {
    margin-top: 175px;
}

input[type=text].smallerLogin, [type=password].smallerLogin {
  border: 2px solid #999;
  border-radius: 5px;
  height: 30px;
  width: 48%;
  text-indent: 5px;
  font-weight: normal;
  font-size: 20px;
}

input[type=submit].smallerSubmit {
  background-color: #C0C0C0;
  color: #FFFFFF;
  text-shadow: 1.5px 1.5px #505050;
  border-radius: 7px;
  height: 40px;
  width: 48%;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
}

/** LOGO */

#logo {
	width: 940px;
	height: 115px;
	margin: 0 auto;
}

#logo h1, #logo p {
	margin: 0px;
	line-height: normal;
	font-weight: normal;
	color: #618C04;
}

#logo p {
	margin-top: -4px;
	font-size: 13px;
	color: #A8A8A8;
}

#logo h1 {
	padding-top: 10px;
	font-size: 48px;
}

#logo a {
	text-decoration: none;
	color: #A8A8A8;
}

#logo h1 a {
	text-decoration: none;
	color: #618C04;
}

#banner {
	padding-bottom: 20px;
}

/* Content */

#content {
	float: right;
	width: 670px;
}

/* Post */

.post {
	margin-bottom: 45px;
}

.post .title {
	height: 44px;
	padding-left: 15px;
}

.post .title a {
	text-decoration: none;
	font-size: 30px;
	color: #618C04;
}

.post .date {
}

.post .meta {
	margin-top: -8px;
	margin-left: 2px;
	padding: 0px 30px 2px 15px;
	border-bottom: 1px solid #D4D8CB;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 10px;
	color: #66665E;
}

.post .meta span {
	display: block;
	margin-top: -10px;
}

.post .meta a { }

.post .entry {
	margin-bottom: 10px;
	padding: 10px 15px 10px 15px;
}

.post .links {
	display: block;
	width: 120px;
	height: 20px;
	margin: 0px 0px 0px 0px; 
	padding: 4px 0px 0px 40px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	color: #666666;
}

.post .comments {
	display: block;
	width: 120px;
	height: 18px;
	margin: 0px; 
	padding: 3px 0px 0px 40px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	color: #961A06;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 240px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#sidebar li {
	margin-bottom: 30px;
	padding: 0 0 10px 0px;
}

#sidebar li ul {
	margin: 0px 14px;
}

#sidebar li li {
	margin: 0;
	padding: 12px 0px;
	border-bottom: 1px solid #E9E8DD;
}

#sidebar li li a {
	padding: 0px 0px 0px 20px;
	font-weight: normal;
	color: #808080;
}

#sidebar li li a:hover {
	color: #77B003;
}

#sidebar p {
	margin: 0;
	padding: 0px 14px;
}

#sidebar h2 {
	height: 30px;
	margin: 0 0 10px 0px;
	padding: 6px 0 2px 14px;
	font-size: 24px;
	font-weight: normal;
	color: #618C04;
}

#sidebar p {
	line-height: 200%;
}

#sidebar a {
	text-align: left;
	text-decoration: none;
	font-weight: bold;
}

/* Footer */

#footer {
	width: 100%;
	height: 80px;
	margin: 0 auto;
	padding: 0;
	background: #E1E1E1;
	position: absolute;
}

#footer-bgcontent {
}

#footer p {
	margin: 0;
	padding: 12px 0px 0px 0px;
	text-align: center;
	line-height: normal;
	font-style: italic;
	font-size: 30px;
}

#footer .smallFooter p {	
	text-align: center;
	line-height: normal;
	font-style: italic;
	font-size: 10px;
}

#footer a {
}