<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Dorel Vine la Tine</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="../../style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>

<div id="logo">
    <h1><a href="/home">dorel vine la tine! </a></h1>
    <p><em>o aplicație care te scapă de bătăi de cap</em></p>
</div>
<hr />
<!-- end #logo -->
<div id="header">
        <div id="menu">
            <ul>
                <li><a href="../handyman" class="first">Pagina contului</a></li>
                <li><a href="../handyman/mySpecialties" >Meseriile mele</a></li>
                <li><a href="../handyman/schedule">Program lucru</a></li>
                <li ><a style="cursor:auto" href="#"></a></li>
            </ul>
        </div>
        <!-- end #menu -->
        <div id="search">
            <form class="specialities" method="get" action="http://www.google.com/search" target="_blank">
                <fieldset>
                <input type="text" name="q" id="search-text" placeholder="Google search" size="15" value="" />
                <input type="submit" id="search-submit" value="GO" />
                </fieldset>
            </form>
        </div>
        <!-- end #search -->
    </div>
<!-- end #header -->
<!-- end #header-wrapper -->
<div id="page">
    <div id="content">
        <div class="post">
            <h2 class="title"><a href="#">Aici poți modifica meseriile din profilul tău</a></h2>
            <div class="entry">
                <form th:action="@{/handyman/mySpecialties}" method="post" id="mySpecialties" th:object="${mySpecialties}">
                    <fieldset>
                        <table>
                            <thead>
                            <tr>
                                <th></th>
                                <th> Meseria</th>
                                <th> Anul de început</th>
                                <th> Tarif lei/oră</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="specialty, itemStat : ${mySpecialties}">
                                <td><input hidden th:name="|mySpecialties[${itemStat.index}].id|" th:value="${specialty.getId()}"/></td>
                                <td class="wideCell"><input readonly th:name="|mySpecialties[${itemStat.index}].specialtyname|" th:value="${specialty.getSpecialtyname()}"/></td>
                                <td class="narrowCell"><input readonly th:name="|mySpecialties[${itemStat.index}].workingsince|" th:value="${specialty.getWorkingsince()}"/></td>
                                <td class="narrowCell"><input readonly th:name="|mySpecialties[${itemStat.index}].priceperhour|" th:value="${specialty.getPriceperhour()}"/></td>
                                <!--td><input type="submit" value="Modifica" name="update" th:id="${specialty.getId()}"/></--td>
                                <td><input type="submit" value="Sterge" name="delete"/></td-->
                                <td><a th:href="@{/handyman/editSpecialty/{id}(id=${specialty.getId()})}" class="linkButtonTable">Modifică</a></td>
                                <td><a th:href="@{/handyman/deleteSpecialty/{id}(id=${specialty.getId()})}" class="linkButtonTable">Șterge</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </form>
                <a th:href="@{/handyman/updateSpecialty}" class="linkButtonSpecialty">Adaugă meserie</a>
            </div>
        </div>
    </div><!-- end #content -->
    <div id="sidebar">
        <ul>
            <li>
                <ul>
                    <li><a href="#">Hunedoara</a></li>
                    <li><a href="#">Gheorgheni</a></li>
                    <li><a href="#">Ighiu</a></li>
                    <li><a href="#">Sulina</a></li>
                    <li><a href="#">Ploiești</a></li>
                    <li><a href="#">Florești</a></li>
                    <li><a href="#">București</a></li>
                    <li><a href="#">Focșani</a></li>
                    <li><a href="#">Hațeg</a></li>
                    <li><a href="#">Durău</a></li>
                    <li><a href="#">Cernavodă</a></li>
                    <li><a href="#">Olimp</a></li>
                    <li><a href="#">Satu Mare</a></li>
                    <li><a href="#">Tulcea</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- end #sidebar -->
    <div style="clear: both;">&nbsp;</div>
</div>
</div>
<!-- end #page -->
<div id="footer">
    <p>www.dorelvinelatine.com</p>
    <div class="smallFooter">
        <p>&copy; Design by TEMPLATED</a></p>
    </div>
</div>
<!-- end #footer -->
</body>
</html>