<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Dorel Vine la Tine</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="../../style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>

<div id="logo">
    <h1><a href="/home">dorel vine la tine! </a></h1>
    <p><em>o aplicație care te scapă de bătăi de cap</em></p>
</div>
<hr />
<!-- end #logo -->
<div id="header">
        <div id="menu">
            <ul>
                <li><a href="../handyman" class="first">Pagina contului</a></li>
                <li><a href="../handyman/mySpecialties" >Meseriile mele</a></li>
                <li><a href="../handyman/schedule">Program lucru</a></li>
                <li ><a style="cursor:auto" href="#"></a></li>
            </ul>
        </div>
        <!-- end #menu -->
        <div id="search">
            <form method="get" action="http://www.google.com/search" target="_blank">
                <fieldset>
                <input type="text" name="q" id="search-text" placeholder="Google search" size="15" value="" />
                <input type="submit" id="search-submit" value="GO" />
                </fieldset>
            </form>
        </div>
        <!-- end #search -->
    </div>
<!-- end #header -->
<!-- end #header-wrapper -->
<div id="page">
    <div id="content">
        <div class="post">
            <h2 class="title"><a href="#">Care este programul tău de lucru?</a></h2>
            <div class="entry">
                <form class="formular" th:action="@{../handyman/schedule}" method="post" id="schedule" th:object="${form}">
                    <fieldset class="scheduleFrame">
                        <table>
                            <thead>
                            <tr>
                                <th></th>
                                <th>Ziua</th>
                                <th nowrap>Ora început</th>
                                <th nowrap>Ora sfârșit</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="schedule, itemStat : ${form.schedules}">
                                <td><input hidden th:name="|schedules[${itemStat.index}].id|" th:value="${schedule.getId()}"/></td>
                                <td class="scheduleCell"><input readonly th:name="|schedules[${itemStat.index}].day|" th:value="${schedule.getDay()}"/></td>
                                <td>
                                    <select class="table" th:field="*{schedules[__${itemStat.index}__].hourin}">
                                        <option value="-" text="-">
                                        <option th:each="i : ${#numbers.sequence(1, 24)}" th:value="${i}" th:text="${i}">
                                        </option>
                                    </select>
                                    <!--input th:name="|schedules[${itemStat.index}].hourin|" th:value="${schedule.getHourin()}"/-->
                                </td>
                                <td>
                                    <select class="table" th:field="*{schedules[__${itemStat.index}__].hourout}">
                                        <option value="-" text="-">
                                        <option th:each="i : ${#numbers.sequence(1, 24)}" th:value="${i}" th:text="${i}">
                                        </option>
                                    </select>
                                    <!--input th:name="|schedules[${itemStat.index}].hourout|" th:value="${schedule.getHourout()}"/-->
                                </td>
                            </tr>
                        </table>
                        <p><input class="scheduleButton" type="submit" value="Salvează" /> <input class="scheduleButton" type="reset" value="Anulează"/></p>
                    </fieldset>
                </form>
            </div>
        </div>
    </div><!-- end #content -->
    <div id="sidebar">
        <ul>
            <li>
                <ul>
                    <li><a href="#">Săcele</a></li>
                    <li><a href="#">Morărești</a></li>
                    <li><a href="#">Baia Mare</a></li>
                    <li><a href="#">Carei</a></li>
                    <li><a href="#">Suceag</a></li>
                    <li><a href="#">Crișeni</a></li>
                    <li><a href="#">Ciucea</a></li>
                    <li><a href="#">Voroneț</a></li>
                    <li><a href="#">Tatooine</a></li>
                    <li><a href="#">King's Landing</a></li>
                    <li><a href="#">Galați</a></li>
                    <li><a href="#">Buzău</a></li>
                    <li><a href="#">Satu Mare</a></li>
                    <li><a href="#">Tulcea</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- end #sidebar -->
    <div style="clear: both;">&nbsp;</div>
</div>
</div>
<!-- end #page -->
<div id="footer">
    <p>www.dorelvinelatine.com</p>
    <div class="smallFooter">
        <p>&copy; Design by TEMPLATED</a></p>
    </div>
</div>
<!-- end #footer -->
</body>
</html>