<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Dorel Vine la Tine</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="../../style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<script type="text/javascript" src="../../js/cityDropdownLoad.js"></script>
<script type="text/javascript" src="../../js/countyDropdownLoad.js"></script>
<div id="logo">
    <h1><a href="/home">dorel vine la tine! </a></h1>
    <p><em>o aplicație care te scapă de bătăi de cap</em></p>
</div>
<hr />
<!-- end #logo -->
<div id="header">
    <div id="menu">
        <ul>
            <li><a href="/home" class="first">Home</a></li>
            <li ><a style="cursor:auto" href="#"></a></li>
        </ul>
    </div>
    <!-- end #menu -->
    <div id="search">
        <form method="get" action="http://www.google.com/search" target="_blank">
            <fieldset>
                <input type="text" name="q" id="search-text" placeholder="Google search" size="15" value="" />
                <input type="submit" id="search-submit" value="GO" />
            </fieldset>
        </form>
    </div>
    <!-- end #search -->
</div>
<!-- end #header -->
<!-- end #header-wrapper -->
<div id="page">
    <div id="content">
        <div class="post">
            <h2 class="title"><a href="#">Creează un cont de aministrator</a></h2>
            <form class="formular" th:action="@{/register/registerAdmin}" method="post" th:object="${adminRegistrationForm}">
                <table>
                    <col width="150">
                    <col width="200">
                    <tr>
                        <td>Nume utilizator:</td>
                        <td><input class="table" type="text" th:field="*{username}"></td>
                        <td><span class="validationError" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</span></td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td><input class="table" type="text" th:field="*{email}"></td>
                        <td><span class="validationError" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</span></td>
                    </tr>
                    <tr>
                        <td>Nume complet:</td>
                        <td><input class="table" type="text" th:field="*{fullname}"></td>
                        <td><span class="validationError" th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}">Nume Error</span></td>
                    </tr>
                    <tr>
                        <td>Telefon:</td>
                        <td><input class="table" type="text" th:field="*{phonenumber}"></td>
                        <td><span class="validationError" th:if="${#fields.hasErrors('phonenumber')}" th:errors="*{phonenumber}">Telefon Error</span></td>
                    </tr>
                    <tr>
                        <td>Județ:</td>
                        <td><select class="table" id="county" th:field="*{county}">
                            <option disabled selected value="">Alege judetul</option>
                        </select></td>
                        <!--td><input class="table" type="text" th:field="*{county}"></td-->
                        <td><span class="validationError" th:if="${#fields.hasErrors('county')}" th:errors="*{county}">Judet Error</span></td>
                    </tr>
                    <tr>
                        <td>Oraș:</td>
                        <td><select class="table" id="city" th:field="*{city}">
                            <option disabled selected value="">Alege orasul</option>
                        </select></td>
                        <!--td><input class="table" type="text" th:field="*{city}"></td-->
                        <td><span class="validationError" th:if="${#fields.hasErrors('city')}" th:errors="*{city}">Oras Error</span></td>
                    </tr>

                    <tr>
                        <td>Alege o parolă:</td>
                        <td><input class="table" type="password" th:field="*{password}"></td>
                        <td><span class="validationError" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Parola Error</span></td>
                    </tr>
                    <tr>
                        <td>Confirmă parola:</td>
                        <td><input class="table" type="password" th:field="*{confirmPassword}"></td>
                        <td><span class="validationError" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">Confirmare Error</span></td>>
                    </tr>
                </table>
                <div><input type="submit" value="Creează cont" /> <input type="reset" value="Anulează"/></div>
            </form>
        </div>
    </div><!-- end #content -->
    <div id="sidebar">
        <ul>
            <li>
                <ul>
                    <li><a href="#">Venus</a></li>
                    <li><a href="#">Năsăud</a></li>
                    <li><a href="#">Sâncel</a></li>
                    <li><a href="#">Brașov</a></li>
                    <li><a href="#">Roman</a></li>
                    <li><a href="#">Slatina</a></li>
                    <li><a href="#">Otopeni</a></li>
                    <li><a href="#">Huși</a></li>
                    <li><a href="#">Hațeg</a></li>
                    <li><a href="#">Durău</a></li>
                    <li><a href="#">Cernavodă</a></li>
                    <li><a href="#">Olimp</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- end #sidebar -->
    <div style="clear: both;">&nbsp;</div>
</div>
<!-- end #page -->
<div id="footer">
    <p>www.dorelvinelatine.com</p>
    <div class="smallFooter">
        <p>&copy; Design by TEMPLATED</a></p>
    </div>
</div>
<!-- end #footer -->
</body>
</html>