<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Dorel Vine la Tine</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="logo">
    <h1><a href="#">dorel vine la tine! </a></h1>
    <p><em>o aplicație care te scapă de bătăi de cap</em></p>
</div>
<hr />
<!-- end #logo -->
<div id="header">
    <div id="menu">
        <ul>
            <li><a href="home" class="first">Home</a></li>
            <li class="current_page_item"><a href="#">Vedem noi</a></li>
            <li><a href="#">Ce legam aici</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
    <!-- end #menu -->
    <div id="search">
        <form method="get" action="http://www.google.com/search" target="_blank">
            <fieldset>
                <input type="text" name="q" id="search-text" placeholder="Google search" size="15" value="" />
                <input type="submit" id="search-submit" value="GO" />
            </fieldset>
        </form>
    </div>
    <!-- end #search -->
</div>
<!-- end #header -->
<!-- end #header-wrapper -->
<div id="page">
    <div id="content">
        <div class="post">
            <h2 class="title"><a href="#">Creează un cont de meșter</a></h2>
            <div th:if="${exception}">
                <font color="red">Numele de utilizator există deja. Încearcă unul nou.</font>
            </div>
            <form class="formular" th:action="@{/registerHandyman}" method="post" id="handymanRegisterForm">
                <p><input type="text" placeholder="Nume utilizator" name="username" required/></p>
                <p><input type="text" placeholder="Email" name="email" required></p>
                <p><input type="text" placeholder="Nume complet" name="fullname" required/></p>
                <p><input type="text" placeholder="Număr de telefon" name="phonenumber" required></p>
                <p><input type="text" placeholder="Oraș"name="city" required/></p>
                <p><input type="text" placeholder="Județ" name="county" required/></p>
                <p><input type="text" placeholder="Specialitate" name="specialtyname" required/></p>
                <p><input type="text" placeholder="Anul în care ai început activitatea" name="workingsince" required></p>
                <p><input type="text" placeholder="Tarif: lei pe oră"name="priceperhour" required/></p>
                <br>
                <p><label name="password">Alege o parolă:</label><input type="password" name="password" required/></p>
                <p><label name="confirm">Confirmă parola:</label><input type="password" name="confirm" required/></p>
                <p><input type="submit" value="Creează cont" /> <input type="reset" value="Anulează"/></p>
            </form>
        </div>
    </div><!-- end #content -->
    <div id="sidebar">
        <ul>
            <li>
                <h2>Blablabla</h2>
                <p>Tot <strong>bla bla bla </strong>Toată lumea aşteaptă cu interes 5G-ul, dar o să cam usture la buzunar! Primul român cu abonament 5G spune că îl costă 300 de lei pe lună, având în vedere că preţul G-ului e neschimbat de ani de zile: 60 de lei bla bla bla ce să <a href="/login">punem</a>.</p>
            </li>
        </ul>
    </div>
    <!-- end #sidebar -->
    <div style="clear: both;">&nbsp;</div>
</div>
<!-- end #page -->
<div id="footer">
    <p>www.dorelvinelatine.com</p>
    <div class="smallFooter">
        <p>&copy; Design by TEMPLATED</a></p>
    </div>
</div>
<!-- end #footer -->
</body>
</html>