
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dorel Vine la Tine</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="style.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body id>
<div id="logo">
    <h1><a href="/home">dorel vine la tine! </a></h1>
    <p><em>o aplicatie care te scapă de bătăi de cap</em></p>
</div>
<hr />
<!-- end #logo -->
<div id="header">
    <div id="menu">
        <ul>
            <li><a href="/home" class="first">Home</a></li>
            <li><a href="/login" class="first">Login</a></li>
            <li ><a style="cursor:auto" href="#"></a></li>
        </ul>
    </div>
    <!-- end #menu -->
    <div id="search">
        <form method="get" action="http://www.google.com/search" target="_blank">
            <fieldset>
                <input type="text" name="q" id="search-text" placeholder="Google search" size="15" value="" />
                <input type="submit" id="search-submit" value="GO" />
            </fieldset>
        </form>
    </div>
    <!-- end #search -->
</div>
<!-- end #header -->
<!-- end #header-wrapper -->
<div id="page">
    <div id="content">
        <div class="post">
            <h2 class="title"><a href="#">Echipa</a></h2>
            <div class="team">
                <br>
                <p>Cristina Lenghel, cristina.lenghel@gmail.com</p>
                <p>Octavian Stefanescu, @</p>
                <p>Marius-Laurentiu Lorincz, lorinczmarius98@gmail.com</p>
                <p>Cosmin Toma, @</p>
                <p>Serban Moraru, pmserban4@gmail.com</p>
            </div>
        </div>
    </div><!-- end #content -->
    <div id="sidebar">
        <ul>
            <li>
                <ul>
                    <li><a href="#">Cluj-Napoca</a></li>
                    <li><a href="#">Aiud</a></li>
                    <li><a href="#">Piatra Neamț</a></li>
                    <li><a href="#">Crevedia</a></li>
                    <li><a href="#">Bocșa</a></li>
                    <li><a href="#">Aiud</a></li>
                    <li><a href="#">Sighetu Marmației</a></li>
                    <li><a href="#">Câmpeni</a></li>
                    <li><a href="#">Sulina</a></li>
                    <li><a href="#">Ploiești</a></li>
                    <li><a href="#">Florești</a></li>
                    <li><a href="#">București</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- end #sidebar -->
    <div style="clear: both;">&nbsp;</div>
</div>
</div>
<!-- end #page -->
<div id="footer">
    <p>www.dorelvinelatine.com</p>
    <div class="smallFooter">
        <p>&copy; Design by TEMPLATED</a></p>
    </div>
</div>
<!-- end #footer -->
</body>
</html>