<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Dorel Vine la Tine</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
	<div id="logo">
		<h1><a href="#">dorel vine la tine! </a></h1>
		<p><em> o aplicatie care te scapă de bătăi de cap </a></em></p>
	</div>
	<hr />
	<!-- end #logo -->
	<div id="header">
		<div id="menu">
			
		</div>
		<!-- end #menu -->
		<div id="search">
			
		</div>
		<!-- end #search -->
	</div>
	<!-- end #header -->
	<!-- end #header-wrapper -->
	<div id="page">
		<div id="content">
		  <div class="post">
				<h2 class="title"><a href="#">Bine ai venit la DorelVineLaTine.com! </a></h2>
				<div class="entry">
					<p>Probabil că vei găsi în listele noastre  meșterul potrivit pentru problema cu care te confrunți. O țeavă fisurată, un geam spart, o priză defectă, o cheie ruptă în yală... Indiferent care este urgența, vei găsi aici pe cineva care să te ajute. Dacă nu găsești omul potrivit, lasă-ne un mesaj. Noi îl vom afișa astfel încât să ajungă la câț mai mulți meseriași</p>
					<p>Pentru a începe, intră <a href="/register">aici</a>.</p>	
				</div>
		  </div>			
		</div><!-- end #content -->
		<div id="sidebar">
			<ul>
				<li>
					<h2>Cauți un meșter?</h2>
					<p><strong>Acesta </strong>este locul în care găsești ajutor pentru problemele tale. Dacă nu vei găsi ceea ce cauți, lasă-ne un mesaj <a href="/register">aici</a>.</p>					
				</li>			
			</ul>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	</div>
	<!-- end #page -->
	<div id="footer">
		<p>www.dorelvinelatine.com</p>
	</div>
	<!-- end #footer -->
</body>
</html>
