<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dorel Vine la Tine</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="logo">
    <h1><a href="/home">dorel vine la tine! </a></h1>
    <p><em>o aplicatie care te scapă de bătăi de cap</em></p>
</div>

<hr />
<!-- end #logo -->
<div id="header">
        <div id="menu">
            <ul>
                <li><a href="/home" class="first">Home</a></li>
                <li><a href="/contacts" class="first">Contact</a></li>
                <li><a style="cursor:auto" href="#"></a></li>
            </ul>
        </div>
        <!-- end #menu -->
        <div id="search">
            <form method="get" action="http://www.google.com/search" target="_blank">
                <fieldset>
                <input type="text" name="q" id="search-text" placeholder="Google search" size="15" value="" />
                <input type="submit" id="search-submit" value="GO" />
                </fieldset>
            </form>
        </div>
        <!-- end #search -->
    </div>
<!-- end #header -->
<!-- end #header-wrapper -->
<div id="page">
    <div id="content">
        <div class="post">
            <h2 class="title"><a href="#">Intră în cont</a></h2>
            <div class="entry">
                <form class="formular" method="POST" th:action="@{/login}" id="loginForm">
                    <p><label name="username">Nume utilizator:</label><input class="smallerLogin" type="text" name="username" required/></p>
                    <p><label name="password">Introdu parola:</label><input class="smallerLogin" type="password" name="password" required/></p>
                    <div><span class="validationError" th:if="${param.error}" >
                        Invalid username or password.
                    </span></div>
                    <input class="smallerSubmit" type="submit" value="Login"/>
                </form>
                <br>
                <p>Nu ai un cont? Poți să îți faci unul
                    <a th:href="@{/home}">aici</a>.</p>
            </div>
        </div>
    </div><!-- end #content -->
    <div id="sidebar">
        <ul>
            <li>
                <ul>
                    <li><a href="#">Mehadia</a></li>
                    <li><a href="#">Humulești</a></li>
                    <li><a href="#">Păltiniș</a></li>
                    <li><a href="#">Târgu Jiu</a></li>
                    <li><a href="#">Sebeș</a></li>
                    <li><a href="#">Mangalia</a></li>
                    <li><a href="#">Ocna Șugatag</a></li>
                    <li><a href="#">Satu Mare</a></li>
                    <li><a href="#">Tulcea</a></li>
                    <li><a href="#">Saturn</a></li>
                    <li><a href="#">Arad</a></li>
                    <li><a href="#">Bistrița</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- end #sidebar -->
    <div style="clear: both;">&nbsp;</div>
</div>
</div>
<!-- end #page -->
<div id="footer">
    <p>www.dorelvinelatine.com</p>
    <div class="smallFooter">
        <p>&copy; Design by TEMPLATED</a></p>
    </div>
</div>
<!-- end #footer -->
</body>
</html>