<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Spring Boot + JPA + Datatables</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <!--script src="/js/datatable.js"></script-->
</head>

<body>
<h1>Employees Table</h1>
<table id="citiesTable" class="table table-striped">
    <!-- Header Table -->
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    </thead>
    <!-- Footer Table -->
    <tfoot>
    <tr>
        <th>id</th>
        <th>name</th>
    </tr>
    </tfoot>
</table>
<script th:inline="javascript">
    /*<![CDATA[*/
	$(document).ready( function () {
		 var table = $('#citiesTable').DataTable({
			"sAjaxSource": "/cities",
			"sAjaxDataProp": "",
			"order": [
			[ 0, "asc" ]
			],
			"columns": [
				{ "data": "id"},
				{ "data": "name"},
			]
		 })
	});
	/*]]>*/
</script>
</body>
</html>

function() {
$.getJSON("http://localhost:8080/jsondata/cities/",{
countyname: $(this).val(),
ajax : 'true'
}, function(data) {
var html = '<option value="">--alege orasul--</option>';
var len = data.length;
for ( var i = 0; i < len; i++) {
html += '<option value="' + data[i].name + '">'
    + data[i].name + '</option>';
}
html += '</option>';
$('#city').html(html);
});


$.ajax({
type : "GET",
url : "/jsondata/cities/",
data : JSON.stringify(json),
dataType : 'json',
success : function(data) {
var html = '';
var len = data.length;
html += '<option value="0">Alege Orasul</option>';
for (var i = 0; i < len; i++) {
html += '<option value="' + data[i].name + '">'
    + data[i].name
    + '</option>';
}
html += '</option>';
$('#cities').html(html);
}
});