<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Dorel Vine la Tine</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>

<div id="logo">
    <h1><a href="#">dorel vine la tine! </a></h1>
    <p><em>o aplicatie care te scapă de bătăi de cap</em></p>
</div>
<hr />
<!-- end #logo -->
<div id="header">
        <div id="menu">
            <ul>
                <li><a href="home" class="first">Home</a></li>
                <li class="current_page_item"><a href="#">Vedem noi</a></li>
                <li><a href="#">Ce legam aici</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <!-- end #menu -->
        <div id="search">
            <form method="get" action="http://www.google.com/search" target="_blank">
                <fieldset>
                <input type="text" name="q" id="search-text" placeholder="Google search" size="15" value="" />
                <input type="submit" id="search-submit" value="GO" />
                </fieldset>
            </form>
        </div>
        <!-- end #search -->
    </div>
<!-- end #header -->
<!-- end #header-wrapper -->
<div id="page">
    <div id="content">
        <div class="post">
            <h2 class="title"><a href="#">Aici încă nu îmi dau seama cum o să arate.</a></h2>
            <div class="entry">
                <p th:text="'Hello, '+${myUser.fullname}+'!'" />
            </div>
        </div>
    </div><!-- end #content -->
    <div id="sidebar">
        <ul>
            <li>
                <h2>TNR</h2>
                <p>Românii au devenit <strong>foarte </strong>eurosceptici după un incident diplomatic foarte grav, chiar în ziua Europei. Europa nu a dat de băut absolut nimic, deşi toţi şefii de stat ai Uniunii Europene erau prezenţi la Sibiu şi aveau şi bani la ei, conform unor hoţi de buzunare din <a href="/register">acest </a>judeţ.</p>
            </li>
        </ul>
    </div>
    <!-- end #sidebar -->
    <div style="clear: both;">&nbsp;</div>
</div>
</div>
<!-- end #page -->
<div id="footer">
    <p>www.dorelvinelatine.com</p>
    <div class="smallFooter">
        <p>&copy; Design by TEMPLATED</a></p>
    </div>
</div>
<!-- end #footer -->
</body>
</html>